{% extends "inicio.html" %}

{% block contenido %}

<body id="opcion2">
    <div id="main">
        <div id="uno">
            <div id="byv"><img alt="BV & Asociados" src="{{ STATIC_URL }}/static/img/isotipo.png" width="177" height="29"></div>
            <div id="estudio"><img src="{{ STATIC_URL }}/static/img/estudio_juridico.png" alt="Estudio juridico" width="122" height="15"></div>
            <div id="principal">
                 <section>
                     <article>
                         <hgroup>
                         <p>&nbsp;</p>
                         <p>&nbsp;</p>
                         <h1>Abogados</h1>
                         <h2><img src="{{ STATIC_URL }}/static/img/subrayado.png" width="267" height="19"></h2>
                         <h3>Nuestro equipo profesional tiene como titular a la Dra. Beatriz Valdiviezo. Abogada recibida en la Universidad Nacional de Córdoba, con 17 años de experiencia en el rubro.</h3>
                         </hgroup>
                     </article>
                </section>
            </div>
        </div>

        {% url 'inicio' as home %}
        {% url 'abogados' as abogados %}
        {% url 'legal' as legal %}
        {% url 'contactomail' as contacto %}
        <div id="lateral">
            <div id="menu1">
                <ul>
                    <li>{% block nav-uno %}<a class="uno" href='{{ home }}'>Misión</a>{% endblock nav-uno %}</li>
                    <li>{% block nav-dos %}<a class="dos" href='{{ abogados }}'>Abogados</a>{% endblock nav-dos %}</li>
                    <li>{% block nav-tres %}<a class="tres" href='{{ legal }}'>Información Legal</a>{% endblock nav-tres %}</li>
                    <li>{% block nav-iv %}<a class="iv" href='{{ contacto }}'>Contacto</a>{% endblock nav-iv %}</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
<footer>
    <h4>Este sitio ha sido desarrollado por <strong> M.V.</strong><br></h4>
</footer>
</body>

{% endblock contenido %}