{% extends "inicio.html" %}

{% block contenido %}

<body id="opcion1">
    <div id="main">
        <div id="uno">
            <div id="byv"><img alt="BV & Asociados" src="{{ STATIC_URL }}/static/img/isotipo.png" width="177" height="29"></div>
            <div id="estudio"><img src="{{ STATIC_URL }}/static/img/estudio_juridico.png" alt="Estudio juridico" width="122" height="15"></div>
            <div id="principal">
                 <section>
                     <article>
                         <hgroup>
                         <p>&nbsp;</p>
                         <p>&nbsp;</p>
                         <h1>Misión Estudio Jurídico</h1>
                         <h2><img src="{{ STATIC_URL }}/static/img/subrayado.png" width="267" height="19"></h2>
                         <h3>Proporcionar una herramienta legal para el desarrollo de sus actividades individuales y en organizaciones.<br>
                         Estudio Jurídico para ello ponemos a su disposición idoneidad, responsabilidad y solvencia profesional.<br>
                         Fundamentalmente trabajamos en cuestiones civiles, comerciales y laborales. En este Estudio Jurídico marco realizamos cobranzas en genaral, cobros de alquileres, accidentes de tránsito, seguros. Intervenimos en juicios ejecutivos, ordinarios, demandas por reparación de daños y perjuicios. Contratos de conformación, Estudio Jurídico constitución de sociedades comerciales como asi también asesoramiento en su funcionamiento. Asistencia legal a microemprendimientos en temas tales como prevención y solución de conflictos laborales.</h3>
                         <p>&nbsp;</p>
                         <h3 class="naranja">" Hay que tener el valor de decir la verdad, sobre todo cuando se habla de la verdad ". Platón</h3>
                         </hgroup>
                     </article>
                </section>
            </div>
        </div>

        {% url 'inicio' as home %}
        {% url 'abogados' as abogados %}
        {% url 'legal' as legal %}
        {% url 'contactomail' as contacto %}
        <div id="lateral">
            <div id="menu1">
                <ul>
                    <li>{% block nav-uno %}<a class="uno" href='{{ home }}'>Misión</a>{% endblock nav-uno %}</li>
                    <li>{% block nav-dos %}<a class="dos" href='{{ abogados }}'>Abogados</a>{% endblock nav-dos %}</li>
                    <li>{% block nav-tres %}<a class="tres" href='{{ legal }}'>Información Legal</a>{% endblock nav-tres %}</li>
                    <li>{% block nav-iv %}<a class="iv" href='{{ contacto }}'>Contacto</a>{% endblock nav-iv %}</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
<footer>
    <h4>Este sitio ha sido desarrollado por <strong> M.V.</strong><br></h4>
</footer>
</body>

{% endblock contenido %}