{% extends "plantilla1.html" %}

{% block titulo %}
    <h1>Web design </h1>
{% endblock titulo %}
{% block contenido %}

<div id="frm">
    <form id="formulario" method="post">{% csrf_token %}
    <table>
        {% for field in formulario %}
            {% ifequal field.name "correo" %}
                <input id ="id_correo" type="email" name="correo"
                     placeholder="usuario@mail.com" size="30" style="margin: 10px 0px;"/><br>
            {% else %}{% ifequal field.name "mensaje" %}
                    <textarea id="id_mensaje" name="mensaje" rows="5" cols="40"
                        placeholder="Mensaje" style="margin: 10px 0px;"></textarea><br>
            {% else %} {{field}}
            {% endifequal %}{% endifequal %}
        {% endfor %}
    </table>

    <p class="submit">
        <input type="submit" class="boton" name="submit" value="Enviar">
    </p>

    {% url 'index' as index %}

    <a class='c' href='{{ index }}'>Atrás</a>
    </form>

</div>

{% endblock contenido %}