{% extends "plantilla1.html" %}

{% block titulo %}
    <h1>Web design </h1>
{% endblock titulo %}
{% block contenido %}

<div class="profl">
    <img src="{{ STATIC_URL }}/static/img/IMG_profile.jpg">
</div>
    <p class="texto">
    &nbsp; Marina Hema es diseñadora y progragamadora web. Se especializa en sitios que combinan colores, formas
    y palabras de una manera visualmente atractiva.<br/>
    &nbsp; Trabaja como diseñadora y es programadora en Python, Android y Java, entre otros lenguajes.</p>


{% url 'index' as index %}
  <p class="submit">
    <a class='b' href='{{ index }}'>Atrás</a>
  </p>

{% endblock contenido %}